.bg-light{
    background-color: #E8B409!important;
    border:black;    
}
@media only screen and (min-width: 1006px) {

.margin{
    padding-left: 10rem;
    padding-right: 10rem;
}
}

.space{
    height:3em
}

.small-space{
    height: 1em;
}

.big-space{
    height: 4em;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal{
    background-image: url(./principal.jpg);
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-size:cover;
    height: 40em;
}

.yellow-background{
    background-color: #E8B409
}

.white{
    color:white;
}

.text-border{
    border: 5px solid #E8B409;
}

.bg-secondary {
    background-color: #E8B409!important;
    border: none;
}

.black{
    color: black
}

.card-img-top{
    height:50%;
    width: 50%;
}

.banner{
    margin-top: 50em;
}

.back-grey{
    background-color: #A3A3A3;
    background-size: cover;
}

.back-black{
    background-color:black;
    background-size: cover;
}

.img-small{
    height:30%;
    width: 30%;
}

.img-box{
    padding-left: 3em
}

.box-img{
    background-color: black;
    padding: 3em 4.5em;
    position: absolute;
    bottom:30px;
}

.form-control{
    margin-top: 15px
}

.li{
    display: inline-block;
    margin: 0 25px 25px;
}

.a{
    color:white;
    font-size: 32px;
}

.social-links{
    list-style: none;
    padding: 0px;
}

.yellow-text{
    color:#E8B409!important;
    text-decoration-color: yellow!important;
    font-family: 'Barriecito', cursive;
}

.card-img-top{
    background-color: #E8B409
}
.card-body{
    background-color: #E8B409
}
